.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 5px 30px;
    align-items: center;
    border-bottom: solid 3px grey;
}
.title { 
    font-weight: bold;
    font-size: 20px;
}