.login {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./components/assets/soap.jpg");
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  top: 5vw;
  left: 66vh;
  width: 30%;
  height: 40vw;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.user-logo {
  position: relative;
  left: 5vw;
  width: 80px;
  height: 80px;
  justify-content: center;
}
.log-btn {
  position: relative;
  top: 20px;
  left: 30px;
  width: 150px;
  height: 40px;
  padding: 5px;
  text-align: center;

}